<aside>
  <%# <%= form_with url: cart_index_path, method: :post do %>
    <% if product.image.present? %>
      <div class="image">
        <figure class="image">
          <%= image_tag product.image %>
        </figure>
      </div>
    <% end %>

    <h3><%= link_to product.name, product %></h3>
    <p>Price: <%= product.price %></p>
    <p><%= product.description %></p>

    <%# if sale_id != Sale.find_by sale_percentage: 1.to_d %>
    <% if product.price != product.sale_price %>
      <p>Sale Price: <%= product.sale_price %></p>
    <% end %>

    <%# <% if order.include?(order_item)? %>
      <%# <%= button_to order_path(order_item),%> %> %>
    <%#  %>

    <%# <%= form_with url: order_add_path, method: :post do %> %>
      <%# <%= hidden_field :id, value: product.id %> %>
      <%# <%= number_field :quantity, value: 0, min: 1 %> %>
      <%# <%= button_tag "Add to cart" %> %>
    <%# <% end %> %>

    <%= form_with(url: order_add_path) do |f| %>
      <%= f.hidden_field :id, value: product.id %>
      <%= f.number_field :quantity, value: 0, min: 1 %>
      <%= f.submit "Add to cart" %>
    <% end %>

    <%# <% if cart.include?(product) %>
      <%# <%= button_to cart_path(product), method: :delete do%>
        <%# ➖ Remove from cart
        <% end %>
    <%# <% else %>
      <%# <%= form_with url: cart_index_path, method: :post do %>
        <%# <%= hidden_field_tag(:id, product.id) %>
        <%# <%= number_field :quantity, value: 0, min: 1 %>
        <%# <%= button_tag 'Add to cart ✅' %>
      <%# <% end %>


    <%# <% end %>
  <%# <% end %>
</aside>